<div class="row ang-cal">
    <div class="row-md-4 text-center" style="float: left;">


    </div>
    <div class="col-md-1">


    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                <p>Just In Time Events(JIT)</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <button type="button" class="btn btn-success">Add JIT events</button>
            </div>
        </div>

        <div class="full-cal">
            <div class="row">
                <p>{{month}} {{year}}</p>

            </div>

            <hr>
            <div [ngSwitch]="view">

                <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
                </mwl-calendar-month-view>

            </div>
        </div>


    </div>
    <div class="col-md-1">


    </div>


    <div class="col-md-5 ">
        <app-notifications [list]="list"></app-notifications>

    </div>
</div>